@import "properties";

.alert {
  border-radius: $border-radius;
  padding: calc($spacing / 2);
  border-left: calc($spacing / 2) solid;
}

.alert-error {
  background: var(--error-lighten);
  color: var(--error-darken);
}

.alert-warning {
  background: var(--warning-lighten);
  color: var(--warning-darken);
}

.alert-success {
  background: var(--success-lighten);
  color: var(--success-darken);
}