@import "properties";
@import "parameters";

.alert {
  border-radius: $border-radius;
  padding: calc($spacing / 2);
  border-left: calc($spacing / 2) solid;
  color: var(--primary-text);
  box-shadow: $shadow;
}

.alert-error {
  background: var(--error);
  border-left: calc($spacing / 2) solid color-mix(in srgb, var(--error) 80%, black);
  color: var(--divider);
}

.alert-warning {
  background: var(--warning);
  border-left: calc($spacing / 2) solid color-mix(in srgb, var(--warning) 80%, black);
  color: var(--divider);
}

.alert-success {
  background: var(--success);
  border-left: calc($spacing / 2) solid color-mix(in srgb, var(--success) 80%, black);
  color: var(--divider);
}