@import "properties";
@import "parameters";

.alert {
  border-radius: $border-radius;
  padding: calc($spacing / 2);
  border-left: calc($spacing / 2) solid;
  color: var(--primary-text);
}

.alert-error {
  background: var(--error-lighten);
  border-color: var(--error-darken);
}

.alert-warning {
  background: var(--warning-lighten);
  border-color: var(--warning-darken);
}

.alert-success {
  background: var(--success-lighten);
  border-color: var(--success-darken);
}