@import "properties";
@import "parameters";

button, .button {
  padding: $spacing $spacing * 2;
  border-radius: $border-radius;
  background: var(--secondary-text);
  color: var(--primary-text);
  border: none;
  cursor: pointer;

  &.button-primary {
    background: var(--accent-color);
    &:hover {
      background: var(--accent-color-lighten);
    }
  }

  &:hover {
    background: var(--divider);
  }

  &.button-success {
    background: var(--success);
    &:hover {
      background: var(--success-lighten);
    }
  }

  &.button-warning {
    background: var(--warning);
    &:hover {
      background: var(--warning-lighten);
    }
  }

  &.button-error {
    background: var(--error);
    &:hover {
      background: var(--error-lighten)
    }
  }
}