@import "properties";
@import "parameters";

button, .button {
  padding: $spacing $spacing * 2;
  border-radius: $border-radius;
  background: var(--primary-darken);
  color: var(--accent-text);
  border: none;
  cursor: pointer;

  &.button-primary {
    background: var(--accent);
    &:hover {
      background: var(--accent-lighten);
    }
  }

  &:hover {
    background: var(--primary);
  }

  &.button-success {
    background: var(--success);
    &:hover {
      background: var(--success-lighten);
    }
  }

  &.button-warning {
    background: var(--warning);
    &:hover {
      background: var(--warning-lighten);
    }
  }

  &.button-error {
    background: var(--error);
    &:hover {
      background: var(--error-lighten)
    }
  }

  &.button-light {
    background: var(--primary-light);
    color: var(--primary);
    &:hover {
      background: var(--primary-light-darken);
      color: var(--accent-text);
    }
  }
}