@import "properties";
@import "parameters";

button, .button {
  padding: $spacing $spacing * 2;
  border-radius: $border-radius;
  background: var(--divider);
  color: var(--primary-text);
  border: none;
  cursor: pointer;

  &.button-primary {
    background: var(--accent-color);
    color: var(--divider);
  }

  &:hover {
    filter: brightness(115%);
  }

  &.button-success {
    background: var(--success);
    color: var(--divider);
  }

  &.button-warning {
    background: var(--warning);
    color: var(--divider);
  }

  &.button-error {
    background: var(--error);
    color: var(--divider);
  }
}

[data-theme="dark"] {
  button, .button {
    &:hover {
      filter: brightness(85%);
    }

    &.button-primary {
      color: var(--primary-text);
    }
  }
}