@use "properties";
@use "defaults";
@use "parameters" as *;

.card {
  box-shadow: $shadow;
  background: var(--secondary-background);
  border-radius: $border-radius;

  .header {
    border-bottom: 1px solid var(--divider);
    position: relative;
    width: 100%;
    padding-right: 1rem;
    left: -1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .footer {
    border-top: 1px solid var(--divider);
    position: relative;
    width: 100%;
    padding-right: 1rem;
    left: -1rem;
    padding-left: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

