@import "properties";
@import "parameters";

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: $shadow;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.3s;
  padding: 10px;
}

.carousel-button:hover {
  background: var(--secondary-background);
}

.carousel-button--left {
  left: 10px;
}

.carousel-button--right {
  right: 10px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}

.carousel-indicator {
  padding: 0;
  border: none;
  width: 20px;
  height: 5px;
  background: var(--disabled);
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.carousel-indicator.current-slide {
  background: var(--accent-color);
}