@import "properties";

.chips {
  .chip {
    margin: 0 5px 3px 0;
    display: inline-block;
    background: var(--divider);
    padding: 5px 13px;
    border-radius: 32px;
    font-size: 13px;
    position: relative;

    &.clickable {
      cursor: pointer;

      &:hover {
        background: var(--divider);
      }
    }

    &.closeable {
      padding-right: 33px;

      button {
        padding: 0;
        background: var(--divider);
        color: var(--secondary-text);
        display: inline-block;
        border: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin: 0 -4px 0 4px;
        cursor: pointer;

        position: absolute;
        right: 13px;

        &:hover {
          background: var(--divider);
        }

        .icon {
          font-size: 15px;
          top: 1px;
          position: relative;
        }
      }
    }
  }

}