@import "properties";

.light-background {
  background: var(--light-background);
}

.primary-text {
  color: var(--primary-text);
}

.warning {
  color: var(--warning);
}

.warning-bg {
  background: var(--warning);
}

.error {
  color: var(--error);
}

.error-bg {
  background: var(--error);
}

.success {
  color: var(--success);
}

.success-bg {
  background: var(--success);
}

.primary {
  color: var(--primary);
}

.primary-bg {
  background: var(--primary);
}

.primary-dark {
  color: var(--primary-dark);
}

.primary-dark-bg {
  background: var(--primary-dark);
}

.primary-light {
  color: var(--primary-light);
}

.primary-light-bg {
  background: var(--primary-light);
}

.accent {
  color: var(--accent);
}

.accent-bg {
  background: var(--accent);
}

.accent-text {
  color: var(--accent-text);
}

.divider {
  color: var(--divider);
}

.divider-bg {
  background: var(--divider);
}