@import "colors";
@import "parameters";
@import "properties";

.datepicker-icon {
  position: absolute;
  margin-left: -29px;
  margin-top: 1px;
  background: lightgrey;
  padding: 3px;
  padding-left: 4px;
  font-size: 21px;

  border-bottom-right-radius: calc($border-radius / 2);
  border-top-right-radius: calc($border-radius / 2);
}

.modal.datepicker {
  padding: 0;

  .datepicker-header {
    background: var(--primary);
    color: var(--primary-light);
    padding: $spacing;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .info-text {
      font-size: 12px;
    }

    .selected-date {
      font-size: 24px;
    }
  }

  .datepicker-controls {
    display: flex;
    flex-direction: row;
    gap: $spacing;

    > div {
      cursor: pointer;
    }
  }

  .datepicker-calendar, .datepicker-controls, .datepicker-years, .datepicker-buttons {
    padding: $spacing;
  }

  .datepicker-row {
    display: flex;
    flex-direction: row;
    gap: $spacing;
  }

  .datepicker-column {
    flex: 1;
    height: 32px;

    .day {
      cursor: pointer;
      border-radius: 50%;
      display: inline-block;
      width: 28px;
      height: 28px;
      padding-top: 3px;
      padding-left: 1px;

      &:hover {
        font-weight: bold;
      }

      &.selected {
        background: var(--primary);
        color: var(--primary-light);
      }
    }
  }

  .datepicker-years .datepicker-column {
    cursor: pointer;
    display: inline-block;

    &:hover {
      font-weight: bold;
    }
  }
}

