@import "properties";
@import "parameters";

html, body {
  overflow: auto;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.content {
  margin-left: calc(2 * $spacing);
  margin-right: calc(2 * $spacing);
  margin-top: calc($spacing * 4);
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.block {
  display: block;
  width: 100%;
}

.vertical-align-center {
  align-items: center;
  display: flex;
}

.horizontal-align-center {
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

code.code {
  background: var(--divider);
  display: block;
  font-family: monospace;
  border-radius: $border-radius;
  font-size: calc($spacing * 1.3);
  margin: $spacing 0;

  .code-header {
    display: block;
    background: var(--disabled);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: calc($spacing / 2) calc($spacing * 2);
    color: var(--primary-text);
    font-weight: bold;
  }

  .code-content {
    padding: calc($spacing * 2);
    white-space: break-spaces;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.spacing-right {
  margin-right: $spacing;
}

.flex {
  display: flex;
}