@import "properties";

input[type=text], input[type=password], input[type=range], textarea, select, .select .dropdown {
  width: 100%;
  border: 1px solid var(--divider);
  border-radius: calc($border-radius / 2);
  padding: $border-radius;
  box-sizing: border-box;
}

select {
  padding: calc($border-radius / 2);
}

.select {
  cursor: pointer;
  position: relative;

  .dropdown, .options {
    background: white;
  }

  .options {
    border-radius: calc($border-radius / 2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in;
    position: absolute;
    width: calc(100% - 2px);
    z-index: 1;
    min-width: 200px;

    &[data-position=right] {
      right: 0;
    }

    &.open {
      max-height: 500px;
      border: 1px solid var(--divider);
    }
  }

  .option {
    padding: $border-radius;

    &.selected {
      background: var(--accent);
      color: var(--accent-text);
    }
  }

  .option:hover {
    background: var(--accent);
    color: var(--accent-text);
  }
}