@charset "UTF-8";
:root {
  --primary-text: #212121;
  --secondary-text: #545454;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #b13535;
  --error-lighten: #e29d9d;
  --error-darken: #d06262;
  --warning: #b8871f;
  --warning-lighten: #ebca85;
  --warning-darken: #dfae44;
  --success: #1b7f5c;
  --success-lighten: #58dbad;
  --success-darken: #28be8a;
  --primary: #bababa;
  --primary-darken: #a0a0a0;
  --primary-dark: #d3d3d3;
  --primary-light: #ffffff;
  --primary-light-darken: #cccccc;
  --accent: #4a4fb9;
  --accent-darken: #2c2f71;
  --accent-lighten: #9497d5;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #8b8b8b;
  --secondary-text: #3f3f3f;
  --divider: #3f3f3f;
  --accent-text: #282828;
  --error: #9c2121;
  --error-lighten: #c62a2a;
  --error-darken: #721818;
  --warning: #FF9800;
  --warning-lighten: #ffad33;
  --warning-darken: #995b00;
  --success: #22946e;
  --success-lighten: #2cbd8d;
  --success-darken: #0f4130;
  --primary: #b7c3c1;
  --primary-darken: #9caba9;
  --primary-dark: #575757;
  --primary-light: #282828;
  --primary-light-darken: black;
  --accent: #4a4fb9;
  --accent-darken: #2c2f71;
  --accent-lighten: #9497d5;
  --light-background: #575757;
  --disabled: #b8b8b8;
}

textarea, select, .select .dropdown, input {
  width: 100%;
  border: 1px solid var(--divider);
  border-radius: 0.2rem;
  padding: 0.4rem;
  box-sizing: border-box;
  background-color: var(--accent-text);
}

select {
  padding: 0.2rem;
}

.select-group .dropdown {
  position: relative;
  background-color: var(--accent-text);
}
.select-group .dropdown-selected {
  border: 1px solid var(--divider);
  padding: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background: var(--accent-text);
}
.select-group .dropdown-selected:after {
  content: "▼";
  float: right;
  color: var(--primary-text);
}
.select-group .dropdown-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  border: 1px solid var(--divider);
  border-radius: 0.2rem;
  display: none;
  flex-direction: column;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  background-color: var(--accent-text);
}
.select-group .dropdown-option {
  padding: 10px;
  cursor: pointer;
}
.select-group .dropdown-option:hover {
  background: var(--divider);
}
.select-group .dropdown-option.selected {
  background: var(--accent);
  color: var(--accent-text);
}
.select-group .dropdown.open .dropdown-options {
  display: flex;
}
.select-group .hidden {
  display: none;
}
@media (max-width: 768px) {
  .select-group .dropdown-options-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
  }
  .select-group .dropdown-options-menu.hidden {
    display: block;
  }
  .select-group .dropdown-options-menu .dropdown-options-icon {
    position: absolute;
    right: 45px;
    cursor: pointer;
  }
  .select-group .dropdown-options {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    border-radius: 0;
    padding-top: 60px;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=form.css.map */
