.row {
  display: flex;
  flex-direction: row;
  gap: $spacing;
  margin-bottom: $spacing;

  &.spacing-top {
    padding-top: calc($spacing / 2);
  }

  .column {
    flex: 1;
    padding: $spacing;

    @for $i from 2 through 6 {
      &.grow-#{$i} {
        flex-grow: $i;
      }
    }

    .column {
      padding: 0;
    }

    .row {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width:768px) {
  .row {
    flex-wrap: wrap;
    .column {
      flex-basis: 100%;
      overflow: hidden;
    }
  }
}
