@import "properties";
@import "parameters";

.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-background {
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: relative;
  z-index: 999;
}

.modal {
  box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
  background: var(--light-background);
  border-radius: $border-radius;
  padding: $spacing;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 50%;

  .header {
    position: relative;
    width: 100%;
    padding-right: $spacing;
    left: -1 * $spacing;
    padding-left: $spacing;
    padding-bottom: $spacing;
  }

  .footer {
    position: relative;
    width: 100%;
    padding-right: $spacing;
    left: -1 * $spacing;
    padding-left: $spacing;
    padding-top: $spacing;
    display: flex;

    .buttons {
      margin-left: auto;
      order: 2;
    }
  }

  .close {
    cursor: pointer;
    float: right;
    z-index: 999;
    position: relative;
  }
}

@media screen and (max-width:768px) {
  .modal {
    width: 90%;
  }
}