@use "properties";
@use "parameters" as *;
@use "mixins" as *;

.placeholder {
  display: inline-block;
  cursor: wait;
  min-height: calc($spacing * 0.65);
  margin-right: calc($spacing / 2);
  border-radius: $border-radius;
  @include shimmer-bg;

  @for $i from 1 through 12 {
    &.w-#{$i} {
      width: calc(100% / (12 / $i));
    }
  }
}
