@import "properties";
@import "parameters";

.progress-bar {
  background: var(--primary-light);
  border-radius: $border-radius;

  .progress {
    border-radius: $border-radius;
    background: var(--accent);
  }
}