@import "properties";
@import "parameters";

.progress-bar {
  background: var(--background);
  border-radius: $border-radius;

  .progress {
    border-radius: $border-radius;
    background: var(--accent-color);
  }
}