:root {
  --primary-text: #1E1F24;
  --secondary-text: #62636C;
  --divider: #D8D9E0;
  --accent-text: #3D63DD;
  --error: #D64545;
  --warning: #C28A00;
  --success: #2E8B57;
  --secondary-background: #FDFDFE;
  --background: #FCFCFD;
  --accent-color: #3D63DD;
  --accent-color-lighten: #87A5EF;
  --accent-color-text: #D8D9E0;
  --disabled: #E7E8EC;
}

[data-theme="dark"] {
  --primary-text: #EEEEF0;
  --secondary-text: #B2B3BD;
  --divider: #393A40;
  --accent-text: #0E496D;
  --error: #FF6B6B;
  --warning: #F7B500;
  --success: #5CC689;
  --background: #111113;
  --secondary-background: #19191B;
  --accent-color: #7CC4F9;
  --accent-color-lighten: #175982;
  --accent-color-text: #B2B3BD;
  --disabled: #303136;
}