:root {
  --primary-text: #212121;
  --secondary-text: #CFD8DC;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: #{lighten(#FF5252, 10%)};
  --error-darken: #{darken(#FF5252, 20%)};
  --warning: #FF9800;
  --warning-lighten: #{lighten(#FF9800, 10%)};
  --warning-darken: #{darken(#FF9800, 20%)};
  --success: #4CAF50;
  --success-lighten: #{lighten(#4CAF50, 10%)};
  --success-darken: #{darken(#4CAF50, 20%)};
  --primary: #{darken(#212121, 10%)};
  --primary-darken: #{darken(#212121, 20%)};
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: #{darken(#CFD8DC, 20%)};
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme="dark"] {
  // TODO: farben anpassen
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #948e8f;
  --accent-text: #8b8b8b;
  --error: #9c2121;
  --error-lighten: #{lighten(#9c2121, 10%)};
  --error-darken: #{darken(#9c2121, 10%)};
  --warning: #FF9800;
  --warning-lighten: #{lighten(#FF9800, 10%)};
  --warning-darken: #{darken(#FF9800, 20%)};
  --success: #22946e;
  --success-lighten: #{lighten(#22946e, 10%)};
  --success-darken: #{darken(#22946e, 20%)};
  --primary: #{darken(#D3DAD9, 10%)};
  --primary-darken: #{darken(#D3DAD9, 20%)};
  --primary-dark: #948e8f;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}