@use "properties";
@use "parameters" as *;

$radio-size: 1.15rem;
$radio-dot-size: 0.6rem;

.radio-button-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  line-height: 1.6rem;
  margin-bottom: calc($spacing / 2);
  cursor: pointer;
  font-size: $spacing;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      border-color: var(--accent-color);

      &::after {
        display: block;
      }
    }

    &:focus-visible ~ .checkmark {
      outline: 2px solid var(--accent-color);
      outline-offset: 2px;
    }
  }

  &:hover input ~ .checkmark {
    border-color: var(--secondary-text);
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: $radio-size;
    width: $radio-size;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--divider);
    transition: border-color 0.2s ease;

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: $radio-dot-size;
      height: $radio-dot-size;
      border-radius: 50%;
      background: var(--accent-color);
    }
  }
}