.scrollable {
  scrollbar-width: none;
  position: relative;
}

.scroll-content {
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
}

.scroll-wrapper {
  float: right;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: calc(100% - 1rem);
}

.scroll-bar {
  width: 6px;
  height: 100%;
}

.scroll-anchor {
  background-color: grey;
  width: 6px;
  height: 30px;
  position: relative;
  display: block;
}