@use "properties";
@use "parameters" as *;

:root {
  --track-width: 12px;
  --track-radius: 8px;
  --thumb-min: 28px;
  --track-gap: 8px;
}

.scroll-container {
  position: relative;
  background: var(--secondary-background);
  border-radius: $border-radius;
  box-shadow: $shadow;
  overflow: hidden;

  .viewport {
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;

    .content {
      margin: 0;
      margin-right: calc(var(--track-width) + var(--track-gap));
    }
  }

  .viewport::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .viewport {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar {
    position: absolute;
    top: var(--track-gap);
    right: var(--track-gap);
    bottom: var(--track-gap);
    width: var(--track-width);
    pointer-events: none;
  }

  .track {
    position: relative;
    height: 100%;
    border-radius: var(--track-radius);
    width: 100%;
    pointer-events: auto;
  }

  .thumb {
    position: absolute;
    left: 2px;
    right: 2px;
    top: 0;
    height: 40px;
    border-radius: calc(var(--track-radius) - 2px);
    background: var(--secondary-text);
    cursor: pointer;
    pointer-events: auto;
    touch-action: none;
  }
}
