@import "properties";

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--accent);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading, .loading:before, .loading:after {
  border-radius: 50%;
  background-color: var(--accent);
  width: 18px;
  height: 18px;
  display: inline-block;
}

.loading {
  position: relative;
  background-color: rgba(var(--accent), 1);
  opacity: 1;
  animation: spScaleAlpha 1s infinite linear;
}

.loading:before, .loading:after {
  content: '';
  position: absolute;
  opacity: 0.25;
}

.loading:before {
  left: 30px;
  animation: spScaleAlphaBefore 1s infinite linear;
}

.loading:after {
  left: -30px;
  animation: spScaleAlphaAfter 1s infinite linear;
}

@keyframes spScaleAlpha {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.25;
  }
}

@keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}