html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.light-background {
  background: var(--light-background);
}

.primary-text {
  color: var(--primary-text);
}

.warning {
  color: var(--warning);
}

.warning-bg {
  background: var(--warning);
}

.error {
  color: var(--error);
}

.error-bg {
  background: var(--error);
}

.success {
  color: var(--success);
}

.success-bg {
  background: var(--success);
}

.primary {
  color: var(--primary);
}

.primary-bg {
  background: var(--primary);
}

.primary-dark {
  color: var(--primary-dark);
}

.primary-dark-bg {
  background: var(--primary-dark);
}

.primary-light {
  color: var(--primary-light);
}

.primary-light-bg {
  background: var(--primary-light);
}

.accent {
  color: var(--accent);
}

.accent-bg {
  background: var(--accent);
}

.accent-text {
  color: var(--accent-text);
}

.divider {
  color: var(--divider);
}

.divider-bg {
  background: var(--divider);
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

html, body {
  overflow: auto;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 3rem;
}

.hidden {
  display: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.block {
  display: block;
  width: 100%;
}

.vertical-align-center {
  align-items: center;
  display: flex;
}

.horizontal-align-center {
  text-align: center;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

code.code {
  background: var(--divider);
  display: block;
  font-family: monospace;
  border-radius: 0.4rem;
  font-size: 0.975rem;
  margin: 0.75rem 0;
}
code.code .code-header {
  display: block;
  background: var(--primary);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.375rem 1.5rem;
  color: var(--primary-light);
  font-weight: bold;
}
code.code .code-content {
  padding: 1.5rem;
  white-space: break-spaces;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}
.row.spacing-top {
  padding-top: 0.375rem;
}
.row .column {
  flex: 1;
  padding: 0.75rem;
}
.row .column.grow-2 {
  flex-grow: 2;
}
.row .column.grow-3 {
  flex-grow: 3;
}
.row .column.grow-4 {
  flex-grow: 4;
}
.row .column.grow-5 {
  flex-grow: 5;
}
.row .column.grow-6 {
  flex-grow: 6;
}
.row .column .column {
  padding: 0;
}
.row .column .row {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .row .column {
    flex-basis: 100%;
  }
}
:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

p, li, td, th, div {
  font-size: 1.125rem;
  line-height: 1.5;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  font-weight: bold;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

ul, ol {
  list-style-position: inside;
  margin-bottom: 0.5rem;
}

ul li {
  list-style-type: disc;
}
ul li li {
  list-style-type: circle;
}

ol li {
  list-style-type: decimal;
}
ol li li {
  list-style-type: lower-latin;
}

strong {
  font-weight: bold;
}

hr {
  border: 1px solid var(--divider);
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.text-center {
  text-align: center;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.card {
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  background: var(--light-background);
  border-radius: 0.4rem;
}
.card .header {
  border-bottom: 1px solid var(--divider);
  position: relative;
  width: 100%;
  padding-right: 1rem;
  left: -1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.card .footer {
  border-top: 1px solid var(--divider);
  position: relative;
  width: 100%;
  padding-right: 1rem;
  left: -1rem;
  padding-left: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
}

th, td {
  padding: 0.75rem 0.6rem;
}

tr {
  border-bottom: 1px solid var(--divider);
}

table.striped tr:nth-child(even) {
  background: #EDEDED;
}
table.striped tr:nth-child(odd) {
  background: #F1F1F1;
}

.column.no-padding {
  padding-left: 0;
  padding-right: 0;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.alert {
  border-radius: 0.4rem;
  padding: 0.375rem;
  border-left: 0.375rem solid;
}

.alert-error {
  background: var(--error-lighten);
  color: var(--error-darken);
}

.alert-warning {
  background: var(--warning-lighten);
  color: var(--warning-darken);
}

.alert-success {
  background: var(--success-lighten);
  color: var(--success-darken);
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

input[type=text], input[type=password], input[type=range], textarea, select, .select .dropdown {
  width: 100%;
  border: 1px solid var(--divider);
  border-radius: 0.2rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

select {
  padding: 0.2rem;
}

.select {
  cursor: pointer;
  position: relative;
}
.select .dropdown, .select .options {
  background: white;
}
.select .options {
  border-radius: 0.2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in;
  position: absolute;
  width: calc(100% - 2px);
  z-index: 1;
  min-width: 200px;
}
.select .options[data-position=right] {
  right: 0;
}
.select .options.open {
  max-height: 500px;
  border: 1px solid var(--divider);
}
.select .option {
  padding: 0.4rem;
}
.select .option.selected {
  background: var(--accent);
  color: var(--accent-text);
}
.select .option:hover {
  background: var(--accent);
  color: var(--accent-text);
}

@font-face {
  font-family: "Material Symbols Outlined 24pt";
  src: url("../font/MaterialSymbolsOutlined.woff2") format("woff2");
}
.icon {
  font-family: "Material Symbols Outlined 24pt", serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e872";
}

.icon-search:before {
  content: "\e8b6";
}

.icon-splitscreen_vertical_add:before {
  content: "\f4fc";
}

.icon-splitscreen_add:before {
  content: "\f4fd";
}

.icon-push_pin:before {
  content: "\f10d";
}

.icon-block:before {
  content: "\e033";
}

.icon-check_circle:before {
  content: "\e86c";
}

.icon-stars:before {
  content: "\e8d0";
}

.icon-support:before {
  content: "\ef73";
}

.icon-refresh:before {
  content: "\e5d5";
}

.icon-sync:before {
  content: "\e627";
}

.icon-language:before {
  content: "\e894";
}

.icon-article:before {
  content: "\ef42";
}

.icon-list_alt:before {
  content: "\e0ee";
}

.icon-add_box:before {
  content: "\e146";
}

.icon-disabled_by_default:before {
  content: "\f230";
}

.icon-help_center:before {
  content: "\f1c0";
}

.icon-pages:before {
  content: "\e7f9";
}

.icon-add_photo_alternate:before {
  content: "\e43e";
}

.icon-calendar_today:before {
  content: "\e935";
}

.icon-assignment_turned_in:before {
  content: "\e862";
}

.icon-finance:before {
  content: "\e6bf";
}

.icon-save:before {
  content: "\e161";
}

.icon-folder:before {
  content: "\e2c7";
}

.icon-folder_off:before {
  content: "\eb83";
}

.icon-folder_open:before {
  content: "\e2c8";
}

.icon-mail:before {
  content: "\e0be";
}

.icon-attach_file:before {
  content: "\e226";
}

.icon-chat_bubble:before {
  content: "\e0ca";
}

.icon-cases:before {
  content: "\e992";
}

.icon-send:before {
  content: "\e163";
}

.icon-bookmark:before {
  content: "\e866";
}

.icon-label:before {
  content: "\e892";
}

.icon-filter_alt:before {
  content: "\ef4f";
}

.icon-filter_alt_off:before {
  content: "\eb32";
}

.icon-notifications_active:before {
  content: "\e7f7";
}

.icon-more_horiz:before {
  content: "\e5d3";
}

.icon-more_vert:before {
  content: "\e5d4";
}

.icon-navigate_before:before {
  content: "\e408";
}

.icon-navigate_next:before {
  content: "\e409";
}

.icon-keyboard_double_arrow_left:before {
  content: "\eac3";
}

.icon-keyboard_double_arrow_right:before {
  content: "\eac9";
}

.icon-first_page:before {
  content: "\e5dc";
}

.icon-last_page:before {
  content: "\e5dd";
}

.icon-expand_less:before {
  content: "\e5ce";
}

.icon-expand_more:before {
  content: "\e5cf";
}

.icon-zoom_in_map:before {
  content: "\eb2d";
}

.icon-zoom_out_map:before {
  content: "\e56b";
}

.icon-drag_pan:before {
  content: "\f71e";
}

.icon-format_list_bulleted:before {
  content: "\e241";
}

.icon-format_list_numbered:before {
  content: "\e242";
}

.icon-check:before {
  content: "\e5ca";
}

.icon-remove:before {
  content: "\e15b";
}

.icon-add:before {
  content: "\e145";
}

.icon-close:before {
  content: "\e14c";
}

.icon-format_bold:before {
  content: "\e238";
}

.icon-format_italic:before {
  content: "\e23f";
}

.icon-format_underlined:before {
  content: "\e249";
}

.icon-home:before {
  content: "\e88a";
}

.icon-favorite:before {
  content: "\e87d";
}

.icon-edit:before {
  content: "\e150";
}

.icon-layers:before {
  content: "\e53b";
}

.icon-cloud:before {
  content: "\e2bd";
}

.icon-print:before {
  content: "\e555";
}

.icon-share:before {
  content: "\e80d";
}

.icon-tune:before {
  content: "\e429";
}

.icon-power_settings_new:before {
  content: "\e8ac";
}

.icon-timeline:before {
  content: "\e922";
}

.icon-bar_chart:before {
  content: "\e26b";
}

.icon-bar_chart_4_bars:before {
  content: "\f681";
}

.icon-finance_mode:before {
  content: "\ef92";
}

.icon-database:before {
  content: "\f20e";
}

.icon-settings:before {
  content: "\e8b8";
}

.icon-person:before {
  content: "\e7fd";
}

.icon-menu_open:before {
  content: "\e7ad";
}

.icon-menu:before {
  content: "\e7ac";
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

:root {
  --track-width: 12px;
  --track-radius: 8px;
  --thumb-min: 28px;
  --track-gap: 8px;
}

.scroll-container {
  position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.scroll-container .viewport {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: calc(var(--track-width) + var(--track-gap));
  box-sizing: content-box;
}
.scroll-container .viewport .content {
  margin: 0;
}
.scroll-container .viewport::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.scroll-container .viewport {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll-container .scrollbar {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: var(--track-width);
  pointer-events: none;
}
.scroll-container .track {
  position: relative;
  height: 100%;
  border-radius: var(--track-radius);
  width: 100%;
  pointer-events: auto;
}
.scroll-container .thumb {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 0px;
  height: 40px;
  border-radius: calc(var(--track-radius) - 2px);
  background: var(--primary);
  cursor: pointer;
  pointer-events: auto;
  touch-action: none;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

button, .button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  background: var(--primary);
  color: var(--accent-text);
  border: none;
  cursor: pointer;
}
button:hover, .button:hover {
  background: var(--primary-darken);
}
button.button-success, .button.button-success {
  background: var(--success);
}
button.button-success:hover, .button.button-success:hover {
  background: var(--success-darken);
}
button.button-warning, .button.button-warning {
  background: var(--warning);
}
button.button-warning:hover, .button.button-warning:hover {
  background: var(--warning-darken);
}
button.button-error, .button.button-error {
  background: var(--error);
}
button.button-error:hover, .button.button-error:hover {
  background: var(--error-darken);
}
button.button-light, .button.button-light {
  background: var(--primary-light);
  color: var(--primary);
}
button.button-light:hover, .button.button-light:hover {
  background: var(--primary-light-darken);
  color: var(--accent-text);
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-background {
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: relative;
  z-index: 999;
}

.modal {
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  background: var(--light-background);
  border-radius: 0.4rem;
  padding: 0.75rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 50%;
}
.modal .header {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  left: -0.75rem;
  padding-left: 0.75rem;
  padding-bottom: 0.75rem;
}
.modal .footer {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  left: -0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  display: flex;
}
.modal .footer .buttons {
  margin-left: auto;
  order: 2;
}
.modal .close {
  cursor: pointer;
  float: right;
  z-index: 999;
  position: relative;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
  }
}
.placeholder {
  animation: placeholder-fade 2s ease-in-out infinite;
  display: inline-block;
  cursor: wait;
  background-color: currentcolor;
  opacity: 0.5;
  min-height: 0.375rem;
  margin-right: 0.375rem;
}
.placeholder.w-1 {
  width: 8.3333333333%;
}
.placeholder.w-2 {
  width: 16.6666666667%;
}
.placeholder.w-3 {
  width: 25%;
}
.placeholder.w-4 {
  width: 33.3333333333%;
}
.placeholder.w-5 {
  width: 41.6666666667%;
}
.placeholder.w-6 {
  width: 50%;
}
.placeholder.w-7 {
  width: 58.3333333333%;
}
.placeholder.w-8 {
  width: 66.6666666667%;
}
.placeholder.w-9 {
  width: 75%;
}
.placeholder.w-10 {
  width: 83.3333333333%;
}
.placeholder.w-11 {
  width: 91.6666666667%;
}
.placeholder.w-12 {
  width: 100%;
}

@-webkit-keyframes placeholder-fade {
  50% {
    opacity: 0.2;
  }
}
@keyframes placeholder-fade {
  50% {
    opacity: 0.2;
  }
}
:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.progress-bar {
  background: var(--primary-light);
  border-radius: 0.4rem;
}
.progress-bar .progress {
  border-radius: 0.4rem;
  background: var(--accent);
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid var(--accent);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading, .loading:before, .loading:after {
  border-radius: 50%;
  background-color: var(--accent);
  width: 18px;
  height: 18px;
  display: inline-block;
}

.loading {
  position: relative;
  background-color: rgba(var(--accent), 1);
  opacity: 1;
  animation: spScaleAlpha 1s infinite linear;
}

.loading:before, .loading:after {
  content: "";
  position: absolute;
  opacity: 0.25;
}

.loading:before {
  left: 30px;
  animation: spScaleAlphaBefore 1s infinite linear;
}

.loading:after {
  left: -30px;
  animation: spScaleAlphaAfter 1s infinite linear;
}

@keyframes spScaleAlpha {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spScaleAlphaBefore {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.25;
  }
}
@keyframes spScaleAlphaAfter {
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.toast {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  background: var(--light-background);
  border-radius: 0.4rem;
  padding: 0.375rem;
  min-width: 150px;
  position: fixed;
  left: -200px;
  bottom: 0.75rem;
  z-index: 1;
  transition: all 150ms ease-in;
}
.toast .bar {
  display: block;
  height: 4px;
  width: 100%;
  background: var(--primary);
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  transition: width 250ms linear;
}
.toast.show {
  left: 0.75rem;
}
.toast.success {
  color: inherit;
}
.toast.success .bar {
  background: var(--success);
}
.toast.warning {
  color: inherit;
}
.toast.warning .bar {
  background: var(--warning);
}
.toast.error {
  color: inherit;
}
.toast.error .bar {
  background: var(--error);
}
.toast .close {
  cursor: pointer;
  float: right;
  z-index: 999;
  position: relative;
}
.toast .header {
  position: relative;
  width: 100%;
  padding-right: 0.375rem;
  left: -0.375rem;
  padding-left: 0.375rem;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid var(--divider);
  font-weight: bold;
}
.toast .content {
  padding-top: 0.375rem;
  margin: 0;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.push-content {
  transition: all 200ms ease-in;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  margin: 0 0 0 -250px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

nav ul {
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: var(--primary-dark);
  overflow: hidden;
}

nav li {
  margin: 0;
}

nav a {
  color: var(--primary-light);
  font-size: 1em;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.125rem;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--primary);
}

nav a:hover {
  background: var(--accent);
}

.navigation-controls label {
  display: block;
  width: 1.125rem;
  height: 100%;
  color: var(--primary-dark);
  text-align: center;
  line-height: 42px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 200ms ease-in;
  z-index: 500;
}
.navigation-controls input[type=checkbox] {
  display: none;
}
.navigation-controls input[type=checkbox]:checked ~ label {
  left: 250px;
}

nav.pushed {
  margin: 0;
}

.push-content.pushed {
  transform: translate3d(250px, 0, 0);
}

.main-header {
  position: fixed;
  background: var(--light-background);
  width: 100%;
  right: 0;
  transition: width 200ms ease-in;
  height: 2.25rem;
  display: flex;
  z-index: 2;
  gap: 0.75rem;
  border-bottom: 3px solid var(--primary);
}
.main-header > div:first-child {
  margin-left: 0.75rem;
}
.main-header > div:last-child {
  margin-right: 0.75rem;
}
.main-header > div {
  display: flex;
  align-items: center;
  line-height: 2.25rem;
}
.main-header .last {
  margin-left: auto;
}
.main-header.pushed {
  width: calc(100% - 250px);
}
.main-header .navigation-controls {
  height: 1.875rem;
}
.main-header .navigation-controls label {
  display: block;
  position: relative;
  background: initial;
  width: inherit;
  height: inherit;
}
.main-header .navigation-controls input[type=checkbox]:checked ~ label {
  left: 0;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  display: flex;
  margin-bottom: 0.375rem;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  transition: border 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.styled-checkbox:hover + label:before {
  border-color: rgba(0, 0, 0, 0.5);
}
.styled-checkbox:checked + label:before {
  background: var(--accent);
}
.styled-checkbox:disabled + label {
  color: var(--disabled);
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: var(--disabled);
}
.styled-checkbox:checked + label:after {
  content: url("../icons/checkmark-outline.svg");
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(180deg) brightness(101%) contrast(101%);
  position: absolute;
  left: 3px;
  top: 2px;
  width: 1rem;
  height: 1rem;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.radio-button-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  line-height: 25px;
  margin-bottom: 0.375rem;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.radio-button-container:hover input ~ .checkmark {
  border-color: rgba(0, 0, 0, 0.5);
}

.radio-button-container input:checked ~ .checkmark {
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--accent);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-button-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-button-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--accent);
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.switch input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.switch label {
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  background: grey;
  display: block;
  border-radius: 1.5rem;
  position: relative;
  text-indent: 3.5rem;
}
.switch label:after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 5px;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.switch input:checked + label {
  background: var(--accent);
}
.switch input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.tooltip {
  display: inline;
  position: relative;
}

.tooltip:hover:after {
  position: absolute;
  display: flex;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  padding: 13px;
  width: max-content;
  left: 0;
  bottom: 37px;
  max-width: 200px;
}

.tooltip:hover:before {
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 45%;
  bottom: 25px;
  position: absolute;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.chips .chip {
  margin: 0 5px 3px 0;
  display: inline-block;
  background: var(--light-background-darken);
  padding: 5px 13px;
  border-radius: 32px;
  font-size: 13px;
  position: relative;
}
.chips .chip.clickable {
  cursor: pointer;
}
.chips .chip.clickable:hover {
  background: var(--light-background-darken);
}
.chips .chip.closeable {
  padding-right: 33px;
}
.chips .chip.closeable button {
  padding: 0;
  background: var(--light-background-darken);
  color: var(--primary-dark);
  display: inline-block;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  position: absolute;
  right: 13px;
}
.chips .chip.closeable button:hover {
  background: var(--light-background-darken);
}
.chips .chip.closeable button .icon {
  font-size: 15px;
  top: 1px;
  position: relative;
}

.tree {
  position: relative;
}
.tree .icon-folder_open, .tree .icon-folder, .tree .folder-name {
  cursor: pointer;
}
.tree .icon-spacer {
  margin-right: 4px;
}
.tree .li-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.tree .li-content.hidden {
  display: none;
}
.tree .li-content .folder-name {
  margin-top: 2px;
  margin-left: 6px;
}
.tree .li-content .folder-content {
  flex-basis: 100%;
  padding-left: 1rem;
}
.tree ul {
  padding-left: 1rem;
  margin-bottom: 0;
}
.tree ul li {
  list-style-type: none;
  position: relative;
  padding-top: 5px;
  padding-bottom: 0;
  padding-left: 0;
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.light-background {
  background: var(--light-background);
}

.primary-text {
  color: var(--primary-text);
}

.warning {
  color: var(--warning);
}

.warning-bg {
  background: var(--warning);
}

.error {
  color: var(--error);
}

.error-bg {
  background: var(--error);
}

.success {
  color: var(--success);
}

.success-bg {
  background: var(--success);
}

.primary {
  color: var(--primary);
}

.primary-bg {
  background: var(--primary);
}

.primary-dark {
  color: var(--primary-dark);
}

.primary-dark-bg {
  background: var(--primary-dark);
}

.primary-light {
  color: var(--primary-light);
}

.primary-light-bg {
  background: var(--primary-light);
}

.accent {
  color: var(--accent);
}

.accent-bg {
  background: var(--accent);
}

.accent-text {
  color: var(--accent-text);
}

.divider {
  color: var(--divider);
}

.divider-bg {
  background: var(--divider);
}

:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #080808;
  --primary-darken: darken(#212121, 20%);
  --primary-dark: #455A64;
  --primary-light: #CFD8DC;
  --primary-light-darken: darken(#CFD8DC, 20%);
  --accent: #536DFE;
  --light-background: #f2f2f2;
  --disabled: #b8b8b8;
}

[data-theme=dark] {
  --primary-text: #D3DAD9;
  --secondary-text: #757575;
  --divider: #BDBDBD;
  --accent-text: #FFFFFF;
  --error: #FF5252;
  --error-lighten: lighten(#FF5252, 10%);
  --error-darken: darken(#FF5252, 20%);
  --warning: #FF9800;
  --warning-lighten: lighten(#FF9800, 10%);
  --warning-darken: darken(#FF9800, 20%);
  --success: #4CAF50;
  --success-lighten: lighten(#4CAF50, 10%);
  --success-darken: darken(#4CAF50, 20%);
  --primary: #b7c3c1;
  --primary-darken: darken(#D3DAD9, 20%);
  --primary-dark: #455A64;
  --primary-light: #37353E;
  --accent: #536DFE;
  --light-background: #44444E;
  --disabled: #b8b8b8;
}

.datepicker-icon {
  position: absolute;
  margin-left: -29px;
  margin-top: 1px;
  background: lightgrey;
  padding: 3px;
  padding-left: 4px;
  font-size: 21px;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.modal.datepicker {
  padding: 0;
}
.modal.datepicker .datepicker-header {
  background: var(--primary);
  color: var(--primary-light);
  padding: 0.75rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.modal.datepicker .datepicker-header .info-text {
  font-size: 12px;
}
.modal.datepicker .datepicker-header .selected-date {
  font-size: 24px;
}
.modal.datepicker .datepicker-controls {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
.modal.datepicker .datepicker-controls > div {
  cursor: pointer;
}
.modal.datepicker .datepicker-calendar, .modal.datepicker .datepicker-controls, .modal.datepicker .datepicker-years, .modal.datepicker .datepicker-buttons {
  padding: 0.75rem;
}
.modal.datepicker .datepicker-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}
.modal.datepicker .datepicker-column {
  flex: 1;
  height: 32px;
}
.modal.datepicker .datepicker-column .day {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  width: 28px;
  height: 28px;
  padding-top: 3px;
  padding-left: 1px;
}
.modal.datepicker .datepicker-column .day:hover {
  font-weight: bold;
}
.modal.datepicker .datepicker-column .day.selected {
  background: var(--primary);
  color: var(--primary-light);
}
.modal.datepicker .datepicker-years .datepicker-column {
  cursor: pointer;
  display: inline-block;
}
.modal.datepicker .datepicker-years .datepicker-column:hover {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
