@use "properties";
@use "parameters" as *;

.switch {
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: auto;
  }

  label {
    cursor: pointer;
    width: calc($spacing * 3);
    height: calc($spacing * 1.5);
    background: var(--secondary-text);
    display: block;
    border-radius: calc($spacing * 1.5);
    position: relative;
    text-indent: calc($spacing * 3.5);
    white-space: nowrap;
  }

  label::after {
    content: '';
    position: absolute;
    top: calc($spacing / 4);
    left: 5px;
    width: $spacing;
    height: $spacing;
    background: var(--secondary-background);
    border-radius: 50%;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--accent-color);
  }

  input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}
