@import "properties";

.switch {
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: auto;
  }

  label {
    cursor: pointer;
    width: 3rem;
    height: 1.5rem;
    background: var(--secondary-text);
    display: block;
    border-radius: 1.5rem;
    position: relative;
    text-indent: 3.5rem;
    white-space: nowrap;
  }

  label:after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 5px;
    width: 1rem;
    height: 1rem;
    background: var(--secondary-background);
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--accent-color);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}