@import "properties";

table {
  width: 100%;
}

th {
  font-weight: bold;
}

th, td {
  padding: .75rem .6rem;
}

tr {
  border-bottom: 1px solid var(--divider);
}

table.striped {
  tr:nth-child(even) {
    background: var(--divider)
  }

  tr:nth-child(odd) {
    background: var(--secondary-text);
  }
}

.column.no-padding {
  padding-left: 0;
  padding-right: 0;
}