@import "properties";
@import "parameters";

.toast {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
  background: var(--light-background);
  border-radius: $border-radius;
  padding: calc($spacing / 2);
  min-width: 150px;
  position: fixed;
  left: -200px;
  bottom: $spacing;
  z-index: 1;
  transition: all 150ms ease-in;

  .bar {
    display: block;
    height: 4px;
    width: 100%;
    background: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    transition: width 250ms linear;
  }

  &.show {
    left: $spacing;
  }

  &.success {
    color: inherit;

    .bar {
      background: var(--success);
    }
  }

  &.warning {
    color: inherit;

    .bar {
      background: var(--warning);
    }

  }

  &.error {
    color: inherit;

    .bar {
      background: var(--error);
    }
  }

  .close {
    cursor: pointer;
    float: right;
    z-index: 999;
    position: relative;
  }

  .header {
    position: relative;
    width: 100%;
    padding-right: calc($spacing / 2);
    left: calc(-1 * $spacing / 2);
    padding-left: calc($spacing / 2);
    padding-bottom: calc($spacing / 2);
    border-bottom: 1px solid var(--divider);
    font-weight: bold;
  }

  .content {
    padding-top: calc($spacing / 2);
    margin: 0;
  }
}