@import "properties";
@import "parameters";

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.woff2") format("woff2");
}

body {
  font-family: 'Outfit', helvetica, arial, sans-serif;
}

p, li, td, th, div, h1, h2, h3, h4, h5 {
  color: var(--primary-text);
}

p, li, td, th, div {
  font-size: calc($spacing * 1.5);
  line-height: 1.5;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  margin: 0 0 calc($spacing / 1.5) 0;
  line-height: 1.2;
  font-weight: bold;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

ul, ol {
  list-style-position: inside;
  margin-bottom: calc($spacing / 1.5);
}

ul li {
  list-style-type: disc;

  li {
    list-style-type: circle;
  }
}

ol li {
  list-style-type: decimal;

  li {
    list-style-type: lower-latin;
  }
}

strong {
  font-weight: bold;
}

hr {
  border: 1px solid var(--divider);
  margin-top: calc(1.5 * $spacing);
  margin-bottom: calc(1.5 * $spacing);
}

.text-center {
  text-align: center;
}